## Import Libray

In [234]:
import pandas as pd

## Load Dataset

In [235]:
df_faskes = pd.read_csv('Jumlah Faskes Jabar.csv')
df_jamkes = pd.read_csv('Jaminan Kesehatan Jabar.csv')
wilayah = pd.read_csv('wilayah jabar.csv')

### 1. Clean Data Faskes

In [236]:
#show 5 data teratas
df_faskes.head()

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_faskes,jumlah_faskes,satuan
0,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUMAH SAKIT UMUM,9,UNIT
1,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUMAH SAKIT KHUSUS,0,UNIT
2,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUMAH SAKIT BERSALIN,0,UNIT
3,32,JAWA BARAT,3201,KABUPATEN BOGOR,PUSKESMAS,62,UNIT
4,32,JAWA BARAT,3201,KABUPATEN BOGOR,POSYANDU,4927,UNIT

In [237]:
#show 5 data terbawah
df_faskes.tail()

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_faskes,jumlah_faskes,satuan
265,32,JAWA BARAT,3279,KOTA BANJAR,RUMAH SAKIT UMUM,3,UNIT
266,32,JAWA BARAT,3279,KOTA BANJAR,RUMAH SAKIT KHUSUS,0,UNIT
267,32,JAWA BARAT,3279,KOTA BANJAR,RUMAH SAKIT BERSALIN,0,UNIT
268,32,JAWA BARAT,3279,KOTA BANJAR,PUSKESMAS,10,UNIT
269,32,JAWA BARAT,3279,KOTA BANJAR,POSYANDU,0,UNIT

## Preprocessing Data Faskes

In [238]:
#merge data faskes dengan wilayah
faskes = pd.merge(df_faskes,wilayah[['bps_kota_nama','latitude','longitude']],left_on='nama_kabupaten_kota',right_on='bps_kota_nama')
faskes.head()

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_faskes,jumlah_faskes,satuan,bps_kota_nama,latitude,longitude
0,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUMAH SAKIT UMUM,9,UNIT,KABUPATEN BOGOR,-6.479679,106.824965
1,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUMAH SAKIT KHUSUS,0,UNIT,KABUPATEN BOGOR,-6.479679,106.824965
2,32,JAWA BARAT,3201,KABUPATEN BOGOR,RUMAH SAKIT BERSALIN,0,UNIT,KABUPATEN BOGOR,-6.479679,106.824965
3,32,JAWA BARAT,3201,KABUPATEN BOGOR,PUSKESMAS,62,UNIT,KABUPATEN BOGOR,-6.479679,106.824965
4,32,JAWA BARAT,3201,KABUPATEN BOGOR,POSYANDU,4927,UNIT,KABUPATEN BOGOR,-6.479679,106.824965

In [239]:
#cek jumlah baris kolom
baris, kolom = faskes.shape
print(baris, 'Baris')
print(kolom, 'Kolom')

270 Baris
10 Kolom

In [240]:
#cek column
faskes.columns

Index(['kode_provinsi', 'nama_provinsi', 'kode_kabupaten_kota',
       'nama_kabupaten_kota', 'jenis_faskes', 'jumlah_faskes', 'satuan',
       'bps_kota_nama', 'latitude', 'longitude'],
      dtype='object')

In [241]:
#cek info data
faskes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270 entries, 0 to 269
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   kode_provinsi        270 non-null    int64
 1   nama_provinsi        270 non-null    object
 2   kode_kabupaten_kota  270 non-null    int64
 3   nama_kabupaten_kota  270 non-null    object
 4   jenis_faskes         270 non-null    object
 5   jumlah_faskes        270 non-null    int64
 6   satuan               270 non-null    object
 7   bps_kota_nama        270 non-null    object
 8   latitude             270 non-null    float64
 9   longitude            270 non-null    float64
dtypes: float64(2), int64(3), object(5)
memory usage: 23.2+ KB

In [242]:
#hapus kolom yang tidak diperlukan
faskes.drop(['kode_provinsi','nama_provinsi','bps_kota_nama','satuan'], axis=1,inplace=True)

In [243]:
#cek info faskes
faskes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270 entries, 0 to 269
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   kode_kabupaten_kota  270 non-null    int64
 1   nama_kabupaten_kota  270 non-null    object
 2   jenis_faskes         270 non-null    object
 3   jumlah_faskes        270 non-null    int64
 4   latitude             270 non-null    float64
 5   longitude            270 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 14.8+ KB

In [244]:
# cek missing value
faskes.isnull().sum()

kode_kabupaten_kota    0
nama_kabupaten_kota    0
jenis_faskes           0
jumlah_faskes          0
latitude               0
longitude              0
dtype: int64

In [245]:
#cek nilai unik
for col in faskes:
    print('Kolom: ', col.upper())
    print(faskes[col].unique())
    print('='*100)

Kolom:  KODE_KABUPATEN_KOTA
[3201 3202 3203 3204 3205 3206 3207 3208 3209 3210 3211 3212 3213 3214
 3215 3216 3217 3218 3271 3272 3273 3274 3275 3276 3277 3278 3279]
====================================================================================================
Kolom:  NAMA_KABUPATEN_KOTA
['KABUPATEN BOGOR' 'KABUPATEN SUKABUMI' 'KABUPATEN CIANJUR'
 'KABUPATEN BANDUNG' 'KABUPATEN GARUT' 'KABUPATEN TASIKMALAYA'
 'KABUPATEN CIAMIS' 'KABUPATEN KUNINGAN' 'KABUPATEN CIREBON'
 'KABUPATEN MAJALENGKA' 'KABUPATEN SUMEDANG' 'KABUPATEN INDRAMAYU'
 'KABUPATEN SUBANG' 'KABUPATEN PURWAKARTA' 'KABUPATEN KARAWANG'
 'KABUPATEN BEKASI' 'KABUPATEN BANDUNG BARAT' 'KABUPATEN PANGANDARAN'
 'KOTA BOGOR' 'KOTA SUKABUMI' 'KOTA BANDUNG' 'KOTA CIREBON' 'KOTA BEKASI'
 'KOTA DEPOK' 'KOTA CIMAHI' 'KOTA TASIKMALAYA' 'KOTA BANJAR']
====================================================================================================
Kolom:  JENIS_FASKES
['RUMAH SAKIT UMUM' 'RUMAH SAKIT KHUSUS' 'RUMAH SAKIT BERSALIN'
 'PUSKESMAS' 'POSYANDU']
====================================================================================================
Kolom:  JUMLAH_FASKES
[   9    0   62 4927   23    6  101    7   32 3551   58    8    3   44
 2903    4   45    2   14 4294   37 4104   67    1 2301   40   60 1601
   65 1424   10   49 2618   21   50 1461    5 1649   35 2335   15 1848
   20 1029 2311   18 2640   17 2339 1578   73  974   16   25  453   39
 1983   80  331   22   13 1593   42   36 1024  403  871  199]
====================================================================================================
Kolom:  LATITUDE
[-6.479679 -6.915727 -6.822558 -7.012851 -7.202988 -7.361212 -7.325788
 -6.976233 -6.764507 -6.836531 -6.861126 -6.327234 -6.571549 -6.551701
 -6.301721 -6.364614 -6.840651 -7.701397 -6.594946 -6.918366 -6.910786
 -6.707076 -6.236221 -6.394473 -6.87121  -7.316436 -7.362487]
====================================================================================================
Kolom:  LONGITUDE
[106.824965 106.932576 107.139542 107.528627 107.885592 108.112488
 108.3514   108.482982 108.478858 108.227876 107.920102 108.322903
 107.762495 107.446541 107.30529  107.172509 107.512302 108.495155
 106.794913 106.931496 107.609757 108.557818 106.994293 106.822692
 107.555486 108.1971   108.55887 ]
====================================================================================================

Tidak terlihat adanya nilai aneh. Kita langsung ke step selanjutnya cek nilai duplikat

In [246]:
#cek data duplikat
faskes.duplicated().sum()

32

In [247]:
#hapus data duplikat
faskes.drop_duplicates(inplace=True)

In [248]:
#cek kembali data duplikat
faskes.duplicated().sum()

0

Sekarang data duplikat telah diatasi. Dan bisa dipastikan data faskes ini sudah bersih. Sekarangt kita export kembali data ini ke .csv

## Export data hasil cleaning

In [249]:
faskes.to_csv('Data Faskes Clean.csv', index=False)

## 2. Clean Data Jamkes

In [250]:
#merge data faskes dengan wilayah
jamkes = pd.merge(df_jamkes,wilayah[['bps_kota_nama','latitude','longitude']],left_on='nama_kabupaten_kota',right_on='bps_kota_nama')
faskes.head()

,kode_kabupaten_kota,nama_kabupaten_kota,jenis_faskes,jumlah_faskes,latitude,longitude
0,3201,KABUPATEN BOGOR,RUMAH SAKIT UMUM,9,-6.479679,106.824965
1,3201,KABUPATEN BOGOR,RUMAH SAKIT KHUSUS,0,-6.479679,106.824965
2,3201,KABUPATEN BOGOR,RUMAH SAKIT BERSALIN,0,-6.479679,106.824965
3,3201,KABUPATEN BOGOR,PUSKESMAS,62,-6.479679,106.824965
4,3201,KABUPATEN BOGOR,POSYANDU,4927,-6.479679,106.824965

In [251]:
#show 5 data teratas
jamkes.head()

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jaminan_kesehatan,jumlah_penduduk,satuan,bps_kota_nama,latitude,longitude
0,32,JAWA BARAT,3201,KABUPATEN BOGOR,PENERIMA BANTUAN IURAN (PBI) APBN,1119615,JIWA,KABUPATEN BOGOR,-6.479679,106.824965
1,32,JAWA BARAT,3201,KABUPATEN BOGOR,PENERIMA BANTUAN IURAN (PBI) APBD,546641,JIWA,KABUPATEN BOGOR,-6.479679,106.824965
2,32,JAWA BARAT,3201,KABUPATEN BOGOR,PEKERJA PENERIMA UPAH (PPU),792374,JIWA,KABUPATEN BOGOR,-6.479679,106.824965
3,32,JAWA BARAT,3201,KABUPATEN BOGOR,PEKERJA BUKAN PENERIMA UPAH (PBPU) / MANDIRI,999677,JIWA,KABUPATEN BOGOR,-6.479679,106.824965
4,32,JAWA BARAT,3201,KABUPATEN BOGOR,BUKAN PEKERJA (BP),58725,JIWA,KABUPATEN BOGOR,-6.479679,106.824965

In [252]:
#show 5 data terbawah
jamkes.tail()

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jaminan_kesehatan,jumlah_penduduk,satuan,bps_kota_nama,latitude,longitude
211,32,JAWA BARAT,3279,KOTA BANJAR,PEKERJA BUKAN PENERIMA UPAH (PBPU) / MANDIRI,20395,JIWA,KOTA BANJAR,-7.362487,108.55887
212,32,JAWA BARAT,3279,KOTA BANJAR,BUKAN PEKERJA (BP),4308,JIWA,KOTA BANJAR,-7.362487,108.55887
213,32,JAWA BARAT,3279,KOTA BANJAR,JAMKESDA,11044,JIWA,KOTA BANJAR,-7.362487,108.55887
214,32,JAWA BARAT,3279,KOTA BANJAR,ASURANSI SWASTA,0,JIWA,KOTA BANJAR,-7.362487,108.55887
215,32,JAWA BARAT,3279,KOTA BANJAR,ASURANSI PERUSAHAAN,0,JIWA,KOTA BANJAR,-7.362487,108.55887

## Preprocessing Data Jamkes

In [253]:
#cek jumlah baris dan kolom
baris, kolom = jamkes.shape
print(baris, 'Baris')
print(kolom, 'Kolom')

216 Baris
10 Kolom

In [254]:
#cek kolom dataset
jamkes.columns

Index(['kode_provinsi', 'nama_provinsi', 'kode_kabupaten_kota',
       'nama_kabupaten_kota', 'jaminan_kesehatan', 'jumlah_penduduk', 'satuan',
       'bps_kota_nama', 'latitude', 'longitude'],
      dtype='object')

In [255]:
#cek info data jamkes
jamkes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 0 to 215
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   kode_provinsi        216 non-null    int64
 1   nama_provinsi        216 non-null    object
 2   kode_kabupaten_kota  216 non-null    int64
 3   nama_kabupaten_kota  216 non-null    object
 4   jaminan_kesehatan    216 non-null    object
 5   jumlah_penduduk      216 non-null    int64
 6   satuan               216 non-null    object
 7   bps_kota_nama        216 non-null    object
 8   latitude             216 non-null    float64
 9   longitude            216 non-null    float64
dtypes: float64(2), int64(3), object(5)
memory usage: 18.6+ KB

In [256]:
#hapus kolom yang tidak diperlukan
jamkes.drop(['kode_provinsi','nama_provinsi','satuan','bps_kota_nama'], inplace=True,axis=1)

In [257]:
#cek kembali dataset
jamkes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216 entries, 0 to 215
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   kode_kabupaten_kota  216 non-null    int64
 1   nama_kabupaten_kota  216 non-null    object
 2   jaminan_kesehatan    216 non-null    object
 3   jumlah_penduduk      216 non-null    int64
 4   latitude             216 non-null    float64
 5   longitude            216 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 11.8+ KB

In [258]:
#cek missing value
jamkes.isnull().sum()

kode_kabupaten_kota    0
nama_kabupaten_kota    0
jaminan_kesehatan      0
jumlah_penduduk        0
latitude               0
longitude              0
dtype: int64

In [259]:
#cek nilai unik
for col in jamkes:
    print('Kolom: ', col.upper())
    print(jamkes[col].unique())
    print('='*100)

Kolom:  KODE_KABUPATEN_KOTA
[3201 3202 3203 3204 3205 3206 3207 3208 3209 3210 3211 3212 3213 3214
 3215 3216 3217 3218 3271 3272 3273 3274 3275 3276 3277 3278 3279]
====================================================================================================
Kolom:  NAMA_KABUPATEN_KOTA
['KABUPATEN BOGOR' 'KABUPATEN SUKABUMI' 'KABUPATEN CIANJUR'
 'KABUPATEN BANDUNG' 'KABUPATEN GARUT' 'KABUPATEN TASIKMALAYA'
 'KABUPATEN CIAMIS' 'KABUPATEN KUNINGAN' 'KABUPATEN CIREBON'
 'KABUPATEN MAJALENGKA' 'KABUPATEN SUMEDANG' 'KABUPATEN INDRAMAYU'
 'KABUPATEN SUBANG' 'KABUPATEN PURWAKARTA' 'KABUPATEN KARAWANG'
 'KABUPATEN BEKASI' 'KABUPATEN BANDUNG BARAT' 'KABUPATEN PANGANDARAN'
 'KOTA BOGOR' 'KOTA SUKABUMI' 'KOTA BANDUNG' 'KOTA CIREBON' 'KOTA BEKASI'
 'KOTA DEPOK' 'KOTA CIMAHI' 'KOTA TASIKMALAYA' 'KOTA BANJAR']
====================================================================================================
Kolom:  JAMINAN_KESEHATAN
['PENERIMA BANTUAN IURAN (PBI) APBN' 'PENERIMA BANTUAN IURAN (PBI) APBD'
 'PEKERJA PENERIMA UPAH (PPU)'
 'PEKERJA BUKAN PENERIMA UPAH (PBPU) / MANDIRI' 'BUKAN PEKERJA (BP)'
 'JAMKESDA' 'ASURANSI SWASTA' 'ASURANSI PERUSAHAAN']
====================================================================================================
Kolom:  JUMLAH_PENDUDUK
[1119615  546641  792374  999677   58725       0 1298176  396133  412023
  236725   31804 1212019  110645  273979  179023   37527 1211810  108306
  566047  368005   68249     272 1316749   27714  269817  186624   50814
  779166   83693   77446   64208   26998  588681   34280   71769   51159
   35066  537306   21749   90546  176186   27435   29885 1193877  309627
  294347  338063   28838  521190   46752  161000  160052   22641  402250
   55824  197586  150302   34342  892913  161654  165256  155893   17494
   51860  288674  164308   27990     290   80035  234250  152173   16153
  966444  103184  583337  351338   23544  611002  473044  975322  452909
   17983  550973   50664  157981  135942   20267  221608   69277   36009
   26248   33798    5575  255517  186344  278906  232307   32719  118809
   42725   91276   51984   11601  423291  457501  777353  531391  114143
  108360   80153   91397   44916   13953  396204   13523  353616  551830
   51155  586180  282538  179136  590860  464048   50758  126927   15689
  205605  114892   25138  272055   56426  123262   55915   18720   56238
   10959   26041   20395    4308   11044]
====================================================================================================
Kolom:  LATITUDE
[-6.479679 -6.915727 -6.822558 -7.012851 -7.202988 -7.361212 -7.325788
 -6.976233 -6.764507 -6.836531 -6.861126 -6.327234 -6.571549 -6.551701
 -6.301721 -6.364614 -6.840651 -7.701397 -6.594946 -6.918366 -6.910786
 -6.707076 -6.236221 -6.394473 -6.87121  -7.316436 -7.362487]
====================================================================================================
Kolom:  LONGITUDE
[106.824965 106.932576 107.139542 107.528627 107.885592 108.112488
 108.3514   108.482982 108.478858 108.227876 107.920102 108.322903
 107.762495 107.446541 107.30529  107.172509 107.512302 108.495155
 106.794913 106.931496 107.609757 108.557818 106.994293 106.822692
 107.555486 108.1971   108.55887 ]
====================================================================================================

Tidak terlihat adanya nilai unik

In [260]:
#cek data duplikat
jamkes.duplicated().sum()

0

Data tidak ada yang duplikat. Selain itu, missing valuenya juga tidak ada. Maka dapat dipastikan data ini sudah bersih. Selanjutnya kita export ke file .csv

## Export data hasil cleaning

In [261]:
jamkes.to_csv('Data Jamkes Clean.csv',index=False)